<hr>
<div class="latest-pics-container">
  <div class="index-grid">
    <% @latest.each do |picture| %>
      <div class="index-cell">
        <%= render 'show_pic', picture: picture %>
      </div>
    <% end %>
  </div>
</div>
