.image-link img {
  max-width: 100%;
  transition: opacity 0.3s;
}

.image-link img:hover {
  opacity: 0.5;
}

.latest-pics-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.index-grid {
  display: block;
}

.recent-title{
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #C8D3D5;
  font-size: 0.85em;
}

.index-cell {
  text-align: center;
  margin: 1rem;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(51, 153, 137, 0.45), rgba(0, 0, 0, 0));
}

@media all and (min-width: 600px) {
  .index-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .index-cell {
    width: calc(50% - 2rem);
  }

  .recent-title {
    font-size: 1.1em;
    text-align: center;
  }
}

@media all and (min-width: 1000px) {
  .index-cell {
    width: calc(33% - 2rem);
  }
}
